<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Question 2</title>
  </head>
  <body>
    <h1>Question 2</h1>
    <form method="POST" action="/">
      <h4>What's your favorite type of weather?</h4>
      <input type="radio" name="fire" value="fire">Plenty of sun with zero clouds in sight<br>
      <input type="radio" name="grass" value="grass">Staying inside and chilling<br>
      <input type="radio" name="fire" value="fire">Hiking or being around nature<br>
      <input type="radio" name="fire" value="fire">Aquatic activities<br>
    </form>
    <button class="btn" onclick="location.href='/question2';">Next</button>
  </body>
</html>
