<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

    <form method="POST" action="/">
    <h1>Question 1</h1>
    <div class="multipleChoice">
      <h4>What do you enjoy doing?</h4>
      <input type="radio" name="activity" value="fire">Running anywhere imagineable!<br>
      <input type="radio" name="activity" value="normal">Staying inside and chilling<br>
      <input type="radio" name="activity" value="grass">Hiking or being around nature<br>
      <input type="radio" name="activity" value="water">Aquatic activities<br>
    </div>
    <!-- <button class="btn" onclick="location.href='/question2';">Next</button> -->
    <h1>Question 2</h1>
    <div class="multipleChoice">
      <h4>What's your favorite type of weather?</h4>
      <input type="radio" name="weather" value="fire">Plenty of sun with zero clouds in sight<br>
      <input type="radio" name="weather" value="normal">Partly cloudy or overcast<br>
      <input type="radio" name="weather" value="water">Anywhere from a light drizzle to a downpour<br>
      <input type="radio" name="weather" value="grass">Any mix of weather<br>
    </div>
    <h1>Question 3</h1>
    <div class="multipleChoice">
      <h4>Preferred mode of transportation?</h4>
      <input type="radio" name="transport" value="water">Boats<br>
      <input type="radio" name="transport" value="fire">Muscle/Sports Cars<br>
      <input type="radio" name="transport" value="grass">Bikes<br>
      <input type="radio" name="transport" value="normal">Walking is fine<br>
    </div>
    <h1>Question 4</h1>
    <div class="multipleChoice">
      <h4>Preferred animal?</h4>
      <input type="radio" name="animal" value="grass">Spiders<br>
      <input type="radio" name="animal" value="fire">Tigers<br>
      <input type="radio" name="animal" value="water">Sharks<br>
      <input type="radio" name="animal" value="normal">Dogs<br>
    </div>
    <h1>Question 5</h1>
    <div class="multipleChoice">
      <h4>When do you sleep?</h4>
      <input type="radio" name="sleep" value="water">All the time<br>
      <input type="radio" name="sleep" value="fire">Noon<br>
      <input type="radio" name="sleep" value="normal">Evening<br>
      <input type="radio" name="sleep" value="fire">Break of dawn<br>
      <input type="submit" name = "submit" value = "Generate results"/>
    </div>
    </form>
  </body>
</html>
