<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Story</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <p>The {{tallAdj}} man entered the {{niceBuildingAdj}} building to visit a very {{niceAdj}} man.
      "Sit down, Mr. {{smithName}}, can I interest you in any good... {{animalName}} food?"
      "No thank you, I don't enjoy eating {{weirdFood}} food."
      The {{tallAdj}} man left the {{niceBuildingAdj}} building and took the {{vehicle}}
      home.</p>



  </body>
</html>
