<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Faster</title>
  </head>
  <body>
    <p>You pick up the pace. However, humans can not outrun cars. Thus,
      the car speeds up to cut you off and you break out into a sprint.
      Where do you go?</p>
    <ul>
      <li><a href = "/store.html">Run into the nearby store</a><li>
      <li><a href = "/baseball.html">Run to the upcoming baseball field and grab a bat</a></li>
      <li><a href = "/school.html">Enter an abandoned school</a></li>
  </body>
</html>
